<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <header></header>

    <masthead></masthead>

    <main class="pieces">
        <div class="card-1">
            <img src="../img/bouncing-ball.png">
            <h3>Bouncing Ball</h3>
        </div>
        <div class="card-2">
            <img src="../img/infographic-poster.png">
            <h3>Infographic Poster</h3>
        </div>
        <div class="card-3">
            <img src="../img/square-bracket.png">
            <h3>Website Planning</h3>
        </div>
        <div class="card-4">
            <img src="../img/Typographical-Poster.png">
            <h3>Typographical Poster</h3>
        </div>
        <div class="card-5">
            <img src="../img/wordpress.png">
            <h3>Wordpress Theme</h3>
        </div>
        <div class="card-6">
            <img src="../img/zen-garden-thumbnail.png">
            <h3>CSS Zen Garden</h3>
        </div>

    </main>


 
</body>
</html>